{% extends 'base.html' %}

{% block content %}

    {% if messages %}
    {% for messages in messages %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
        </div>
    {% endfor %}

{% endif %}

{% if all_items %}
<table class="table table-bordered">
    {% for things in all_items %}

        <tr>
            <td>{{ things.item }}</td>
            <td><center>{{ things.completed }}</center></td>
            <td><center><a href="{% url 'delete' things.id %}"> Delete </a></center></td>
        </tr>

        {{ things.item }} | {{ things.completed }}<br/>

    {% endfor %}
    </table>
{% endif %}




{% endblock %}